<h2>Movies
    <%= ' - '+@genre.name.titleize unless params[:genre].nil? %>
</h2><br />

<% if params[:page].to_i <= 1 %>
	<% @prev_page = 0 %>
  	<% @next_page = 2 %>
<% else %>
	<% @prev_page = params[:page].to_i - 1 %>
  	<% @next_page = params[:page].to_i + 1 %>
<% end %>

<% unless @prev_page == 0 %>
	<%= link_to  "Previous", {:controller => 'movies', :action => params[:action], 
		         :genre => params[:genre], :page => @prev_page}, {:id => 'previous', 
				 :TVID => 'PGUP'} %>
<% end %></td>

<%= link_to "Next", {:controller => 'movies', :action => params[:action], 
	:genre => params[:genre], :page => @next_page}, {:TVID => 'PGDN', :id => 'next'} %>

<table>
	<% count = 1 %>
	<% @movies.each do |movie| %>
		<% if count%6 == 1 %><tr><% end %>
		<td><%= link_to image_tag(movie.poster, :border=>0, :size=>'162x246'), 
				movie.url, html_options = movie.html_options %><br />
		<% if count%6 == 0 %></tr><% end %>
		<% count = count + 1%>
	<% end %>
</table>

<%= link_to "Home", "/", {:class => 'bottom_links', :TVID => 'HOME'}%>
<%= link_to "All", {:controller => 'movies', :action => 'index'}, 
                   {:class => 'bottom_links', :TVID => 'RED'} %>
<%= link_to "Newest", {:controller => 'movies', :action => 'newest'}, 
                      {:class => 'bottom_links', :TVID => 'GREEN'} %>
<%= link_to "Genres", {:controller => 'movies', :action => 'genres'}, 
                      {:class => 'bottom_links', :TVID => 'YELLOW'} %>
<%= link_to "People", {:controller => 'movies', :action => 'people'}, 
					  {:class => 'bottom_links', :TVID => 'BLUE'} %>