<h2>Movies
    <%= ' - '+@genre.name.titleize unless params[:genre].nil? %>
</h2><br />

<% if params[:page].to_i <= 1 %>
	<% @prev_page = 0 %>
  	<% @next_page = 2 %>
<% else %>
	<% @prev_page = params[:page].to_i - 1 %>
  	<% @next_page = params[:page].to_i + 1 %>
<% end %>

<table class="top_links"><tr>
<td align='left'><% unless @prev_page == 0 %>
		<%= link_to  "Previous", {:controller => 'movies',
			         :action => params[:action], :genre => params[:genre], 
			         :page => @prev_page}, {:class => 'page_links', 
				     :TVID => 'PGUP'} %>
	<% end %></td>
<td align='right'>
		<%= link_to "Next", {:controller => 'movies', :action => params[:action], 
                    :genre => params[:genre], :page => @next_page}, {:TVID => 'PGDN', 
	                :class => 'page_links'} %>
	</td>
</tr></table>

<table>
	<% count = 1 %>
	<% @movies.each do |movie| %>
		<% if count%6 == 1 %><tr><% end %>
		<td><%= link_to image_tag(movie.poster, :border=>0, :size=>'162x246'), 
				movie.url, html_options = movie.html_options %><br />
		<% if count%6 == 0 %></tr><% end %>
		<% count = count + 1%>
	<% end %>
</table>

<table class="bottom_links">
<tr>
<td><%= link_to "Home", "/", {:class => 'page_links', :TVID => 'HOME'}%></td><td />

<td><%= link_to "All", {:controller => 'movies', :action => 'index'}, 
                      {:class => 'page_links', :TVID => 'RED'} %></td><td />

<td><%= link_to "Newest", {:controller => 'movies', :action => 'newest'}, 
                      {:class => 'page_links', :TVID => 'GREEN'} %></td><td />
<td><%= link_to "Genres", {:controller => 'movies', :action => 'genres'}, 
                      {:class => 'page_links', :TVID => 'YELLOW'} %></td><td />
<td><%= link_to "People", {:controller => 'movies', :action => 'people'}, 
					  {:class => 'page_links', :TVID => 'BLUE'} %></td><td />
</tr>
</table>
