<div style="background-image:url('<%= @movie.background %>'); background-size: 100%; 
	   background-repeat:no-repeat; width:1920px; height:1080px;">
<div style="background-image:url('/art/backgrounds/blank.png'); padding:10px; bottom:0;">
	
<h1><%= @movie.title %></h1>
<% unless @movie.description.blank? %>
	<p><%= @movie.description %></p>
<% end %>
<% unless @movie.trailer.blank? %>
	<h2><%= link_to "Watch Trailer", @movie.trailer.to_s  %></h2>
<% end %>
<h2><%= link_to "Play", @movie.url, html_options = @movie.html_options %></h2>

</div>
</div>