<body style="background-image:url('<%= @movie.background %>'); background-size: 100%; 
	   background-repeat:no-repeat;">
	
<p style="color: green"><%= flash[:notice] %></p>

<h1><%= @movie.title %></h1>

<% unless @movie.description.blank? %>
	<p><%= @movie.description %></p>
<% end %>
<h2><%= link_to "Play", @movie.url, html_options = @movie.html_options %></h2>

</body>