
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>WarTrain Admin - <%= controller.controller_name.titleize -%></title>
  <%= javascript_include_tag :defaults %>
  <%= active_scaffold_includes %>
  <%= stylesheet_link_tag('admin') %>
</head>
<body>
	
<%= link_to "Home", "/", {:class => 'admin_menu'} %> 	
<%= link_to "Asset Types", {:controller => "asset_types", :action => "index"}, 
            {:class => 'admin_menu', 
	         :id => if current_page?(:controller => 'asset_types') : 'selected' end} %> 			   
<%= link_to "Assets", {:controller => "assets", :action => "index"},
 			{:class => 'admin_menu',
	         :id => if current_page?(:controller => 'assets') : 'selected' end} %> 
<%= link_to "Directories", {:controller => "directories", :action => "index"},
 			{:class => 'admin_menu',
	         :id => if current_page?(:controller => 'directories') : 'selected' end} %> 
<%= link_to "Movies", {:controller => "movies", :action => "index"},
 			{:class => 'admin_menu',
	         :id => if current_page?(:controller => 'movies') : 'selected' end} %> 
<%= link_to "Genres", {:controller => "genres", :action => "index"},
			{:class => 'admin_menu',
			 :id => if current_page?(:controller => 'genres') : 'selected' end} %> 

<%= yield  %>

</body>
</html>